table.baseTable{margin-left:auto;margin-right:auto;width:none;text-align:left;padding:0px;
  background-color:#FAE8D5;width:313px;}

td{border-right-color:#4f6000;border-left-color:#4f6000;border-bottom-color:#4f6000;
  border-top-color:#4f6000;background-color:#ffffff;}

body{background-color:#1b1b1b;}

.outerTable{background-color:#1b1b1b;}

.outerTableCell{border-right-color:#1b1b1b;background-color:#1b1b1b;}

.contentTable{padding:0px;background-color:#FAE8D5;}

.dataTable{padding:0px;background-color:#FAE8D5;}

.HEAD{font-family:tahoma,Helvetica,sans-serif;padding-left:25PX;color:#006699;background:white}
.dot{font-family:arial,Helvetica,sans-serif;font-size:11px;padding-left:25PX;color:#666666;}
.links{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#333333;padding-left:25px;line-height:18px}
.links:hover{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#FF6600;font-weight:bold;padding-left:25px;line-height:18px;text-decoration:none}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}
a:active{text-decoration:none;}

.reportText{font-family:Verdana,Geneva,Arial,Helvetica,sansserif;font-size:10.67px;color:#333333;
  text-decoration:none;padding-left:4px;padding-right:4px;background-color:#F1F1E4;}

.totalText{font-family:Verdana,Geneva,Arial,Helvetica,sansserif;font-size:10.87px;font-weight:bold;
  color:#333333;text-decoration:none;padding-right:0px;}

.reportTextRight{font-family:Verdana,Geneva,Arial,Helvetica,sansserif;font-size:10.67px;color:#333333;
  text-decoration:none;text-align:right;padding-left:4px;padding-right:4px;background-color:#F1F1E4;}

.contracInfoText{font-family:Verdana,Geneva,Arial,Helvetica,sansserif;font-size:10.67px;width:250px;
  color:#333333;text-decoration:none;padding-left:4px;padding-right:4px;background-color:#F1F1E4;}

.text{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#333333;text-decoration:none;}
.flipSecureText{font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#0D5994;text-decoration:none;}
.flipSecureFieldSet{border-color:#59E0DB;}

.searchText{font-family:Arial,Helvetica,sans-serif;font-size:12px;padding-left:5px;text-decoration:none;
  background-color:#FAFAE1;}

.errorText{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#333333;text-decoration:none;color:red}
.textRight{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#333333;text-decoration:none;text-align:right;}

.headText{background-color:#009966;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;
  color:#FFFFFF;font-weight:bold;height:25px;text-align:center;padding-left:4px;padding-right:4px;}

.headTextOrderDetails{font-family:Arial;font-size:10px;color:#FFFFFF;text-decoration:none;
  font-weight:bolder;background:#009966;overflow:scroll;width:10px;vertical-align:text-top;}

.linkheader{font-family:Arial,Helvetica,sans-serif;color:#006699;font-size:12px;padding-left:5px;}
.linkheader:hover{font-family:Arial,Helvetica,sans-serif;color:#FF6600;font-size:12px;padding-left:5px}

.headLink{font-family:Arial,Helvetica,sans-serif;color:#006699;font-size:12px;padding-left:5px;font-weight:bold}
.headLink:hover{font-family:Arial,Helvetica,sans-serif;color:#FF6600;font-size:12px;padding-left:5px;font-weight:bold}

.normLinks{font-family:Arial,Helvetica,sans-serif;color:#006699;font-size:12px;}

.normLinks:hover{font-family:Arial,Helvetica,sans-serif;color:#FF6600;font-size:12px;}

.header{font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#006699;line-height:18px;}

.reportHeader{background-color:#009966;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;
  color:#FFFFFF;font-weight:bold;height:25px;text-align:center;}

.pageHeading{font-family:tahoma;color:#006699;background-color:#E9EFF8;font-size:11px;font-weight:bold;}

.welcomeText{color:#ff6000;font-size:11px;padding-left:5px;font-family:tahoma;}

.lastLoginText{font-size:10px;padding-left:5px;font-family:tahoma;}

.confirmPageHeading{font-family:tahoma;color:#006699;font-size:9px;background-color:#E9EFF8;font-weight:600;}

.button{cursor:hand;cursor:pointer;color:#245EDC;font:bold 84% 'trebuchet ms',helvetica,sans-serif;
   background-color:#fed;border:1px solid;border-color:#9EC8E8;}

.pageHeadingRankings{font-family:tahoma;color:#D45914;font-size:12px;font-weight:bold;}

.combo{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#333333;text-decoration:none;width:102px;}

.textBox{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#333333;text-decoration:none;width:102px;}

.textBoxDOB{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#333333;text-decoration:none;}

.searchlink{font-family:Arial,Helvetica,sans-serif;color:#006699;font-size:12px;padding-left:5px;background-color:#FAFAE1;}

.searchlink:hover{font-family:Arial,Helvetica,sans-serif;color:#FF6600;background-color:#FAFAE1;font-size:12px;padding-left:5px;}

.footerText{font-size:11px;padding-left:5px;font-family:tahoma;}

a.toolTip{position:relative;z-index:24;background-color:#F1F1E4;color:#006699;text-decoration:none}
a.toolTip:hover{z-index:25;background-color:#ff0}
a.toolTip span{display:none}
a.toolTip:hover span{display:block;position:absolute;top:2em;left:1em;width:14em;border:1px solid black;
  background-color:#FFFFCE;color:#000;text-align:right;padding-right:1px;}

.reportLink{font-family:Verdana,Geneva,Arial,Helvetica,sansserif;font-size:10.67px;color:#006699;padding-left:4px;}
.reportLink:hover{font-family:Verdana,Geneva,Arial,Helvetica,sansserif;font-size:10.67px;color:#FF6600;
   padding-left:4px;}

.productText{width:90px;font-family:Verdana,Geneva,Arial,Helvetica,sansserif;font-size:10.67px;
  color:#333333;text-decoration:none;padding-left:4px;padding-right:2px;background-color:#F1F1E4;}

.errorText{font-family:Verdana,Geneva,Arial,Helvetica,sansserif;font-size:10.67px;color:red;text-decoration:none;padding-left:4px;padding-right:2px;}

td.login_submit{padding-left:5px;padding-top:5px;text-align:center;}

.login_textBoxDiv{background-image:url(../images/text_box.gif);height:15px;height:32px;background-repeat:no-repeat;padding-top:4.5px;}

.login_submit{cursor:hand;cursor:pointer;color:#505E5F;font:bold 84% 'trebuchet ms',helvetica,sans-serif;background-color:#DFEDED;border:1px solid;border-color:#9EC8E8;}

.login_clearButton{cursor:hand;cursor:pointer;color:#505E5F;font:bold 84% 'trebuchet ms',helvetica,sans-serif !important;background-color:#DFEDED !important;
 border:1px solid !important;border-color:#9EC8E8 !important;}

table.loginTable{margin-left:auto;margin-right:auto;text-align:left;padding:0px;background-color:#FAE8D5;width:268px;}

table.secloginTable{margin-left:auto;margin-right:auto;text-align:left;padding:0px;background-color:#FAE8D5;width:400px;}

td.login_input{text-align:left;padding-left:30px;padding-top:5px;}

td.login_submitCell{padding-left:5px;padding-top:10px;text-align:center;}

td.login_head{text-align:center;padding-top:12px;}

.headLabel{color:#326732;font-size:10px;}

TR.ROW1 TD{font-family:Verdana,Geneva,Arial,Helvetica,sansserif;font-size:10.67px;color:#333333;text-decoration:none;padding-left:4px;padding-right:4px;background-color:#D6E3F6;}

TR.ROW2 TD{font-family:Verdana,Geneva,Arial,Helvetica,sansserif;font-size:10.67px;color:#333333;text-decoration:none;padding-left:4px;padding-right:4px;background-color:#F1F1E4;}

.reportSubLink{font-family:Verdana,Geneva,Arial,Helvetica,sansserif;font-size:9px;color:#006699;padding-left:4px;}
.reportSubLink:hover{font-family:Verdana,Geneva,Arial,Helvetica,sansserif;font-size:9px;color:#FF6600;padding-left:4px;}

.subscriptText{font-family:Verdana,Geneva,Arial,Helvetica,sansserif;font-size:9px;color:#333333;text-decoration:none;}
.mRptText{font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#333333;text-decoration:none;}

.footer_TT{background-color:#E2E6E9;}

table.footer_TT_Table{background-color:#E2E6E9;}
table.footer_TT_Table td{background-color:#E2E6E9;}
.headLabelTT{color:#326732;font-size:12px;}
.TT_Text{font-family:Verdana,Geneva,Arial,Helvetica,sansserif;font-size:11px;}