<div style="width:600px; padding:10px 18px 10px 17px; box-sizing:border-box; font-family: 'Montserrat', sans-serif; font-size:12px; border:1px solid #d3d3d3;">
    <div id="topbar" style="border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9;padding:4px 0px;">
            <a href="" style="float:left; color:#37b081; display:inline-block; margin:5px 0px; font-size:12.5px; text-decoration:none;">View in browser</a>

            <div style="clear:both;"></div>
    </div>
    <div id="header" style="padding:30px 0px;">
            <img src="cid:mmf_emailer_03.jpg"/>
    </div>
    <div id="welcome" style="word-wrap:break-word;padding:10px 20px; background:#e2f3f0; border-radius:15px; color:#03152c; margin-bottom:20px;">
            <div id="left" style=" float:left; text-align:left;width: 100%;">
                    <h1 style="font-weight:normal; font-size:21px; margin-bottom:20px;">Dear $name,</h1>
                    <h2 style="font-weight:normal; font-size:16px; margin-bottom:20px;">$content</h2>

                    <a href="" style="display:inline-block; padding:7px 30px; background:#1c2c41; color:#1bde92; text-decoration:none; margin-bottom:20px; border-radius:15px;">You can email us at help@managemyfortune.com quoting your Customer ID in the Subject for any assistance.</a>
            </div>
            <div style="clear:both;"></div>
    </div>
    <div id="customerServices" style="padding:5px 5px 15px 5px; background:#e2f3f0; border-radius:15px; color:#03152c; margin:15px 0px;">
            <h1 style="text-align:center; text-transform:uppercase; font-weight:bold; font-size:18px;">CUSTOMER SERVICE</h1>
            <p style="font-size:13px; text-align:center; color:03152c; padding:0px 0px; margin:0px; font-weight:bold;">022-40220790   -   9 am to 6 pm (Mon-Fri)   |   <A href="" style="color:#0035a2; text-decoration:none;">help@managemyfortune.com </A> </p>
    </div>

    <div  id="applinks" style="margin:10px 0px; padding:5px 50px; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9;">

                    <div style="width:100%; text-align: center; box-sizing:border-box; ">
                            <h3 style="font-weight:normal; font-size:11px; margin:0px; padding:0px 0px 10px 0px;">Follow Us on</h3>
                            <span style="display:inline-block; margin-right:25px;">
                                   <a target="_blank" href="https://twitter.com/ManageMyFortune?lang=en">
					<img src="cid:mmf_emailer_38.jpg"/>
				</a>
			</span>
			<span style="display:inline-block; margin-right:25px;">
				<a target="_blank" href="https://www.linkedin.com/company/managemyfortune-com-mmf-financial-advisors-private-ltd-">
					<img src="cid:mmf_emailer_40.jpg"/>
				</a>	
			</span>
			<span style="display:inline-block; margin-right:25px;">
				<a target="_blank" href="https://www.facebook.com/ManageMyFortune/">
					<img src="cid:mmf_emailer_42.jpg"/>
				</a>	
			</span>
			<span style="display:inline-block; margin-right:0px;">
				<a target="_blank" href="https://plus.google.com/+Managemyfortunedotcom">
					<img src="cid:mmf_emailer_44.jpg"/>
				</a>		
                            </span>
                    </div>
                    <div style="clear:both;"></div>
            </div>
    <div id="disclaimer" style="margin:20px 0px; font-size:11px; line-height:15px; color:#909090;">
            <p>ManageMyFortune Brokers Private Limited is an Authorized Person of NSE(CM,CF, F&O)  Registration No: AP060803343 and BSE(CM)  Registration No:AP0103280128528 duly registered through Geojit BNP Paribas Financial Services.</p>
            <p>For any complaints pertaining to the services offered please write to complaints@managemyfortune.com.</p>
            <p>Disclaimer: Investments in equity, currency, futures & options are subject to risk, please read the <br><a target="_blank" href="http://www.geojitbnpparibas.com/pdfs/RiskDiscDocSEBI.pdf">risk disclosure document</a> before investing. Past performance does not guarantee returns in the future. </p>
            <p> &copy; 2016 MMF Financial Advisors Private Limited. All rights reserved.</p>
    </div>
</div>