<!--!DOCTYPE html>
[if IE 8]> <html class="ie8 oldie"> <![endif]
[if gt IE 8]><!
<html>
<![endif]
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Manage My Fortune</title>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/highcharts.js"></script>
<script src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
<link rel="stylesheet" href="css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="css/custom.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="shortcut icon" href="images/favicon.ico">
HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
WARNING: Respond.js doesn't work if you view the page via file://
[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]
</head>

<body>
	<div class="body_bg investor_brand">
		Header Section
		<header class="navbar-fixed-top">
			<div class="padding_lr">
				<div class="navbar-header">
					<div class="logo">
						<a href="">Manage My Fortune</a>
					</div>
				</div>
				<div class="settings">
					<span class="gear_icon"> <a href=""></a>
					</span>
					<button id="open_menu_nav" class="navbar-toggle" type="button">
						<span class="sr-only"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<button id="close_menu_nav" class="navbar-toggle" type="button">
						<span class="sr-only"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
				</div>
			</div>
			<section id="hamber_menu_section" class="hamber_menu_section">
				<div class="nav_menu">
					<ul>
						<li><a class="home" href="">Home</a></li>
						<li class="active"><a class="search" href="">search
								portfolio</a></li>
						<li><a class="my_port" href="">my portfolio</a></li>
						<li><a class="reports" href="">reports</a></li>
						<li><a class="ad_service" href="">advisory service
								contract</a></li>
						<li><a class="alerts" href="">alerts</a></li>
					</ul>
				</div>
			</section>
		</header>
		End

		<div class="container-fluid middle-section content_bg_shade">
			left column start 

			left column end

			<div id="content_column">
				<div class="content_column_in account_open">
					<div class="pgh account-h">Open a free Account</div>
					<br> -->
<div class="content_box">

	<div class="account_open_row">
		<h3>Professional Details</h3>
	</div>

	<div class="accfrmsec">

		<div class="accfrm_row">
			<select name="fstHldrOccup" id="fstHldrOccup" ng-model="data.fstHldrOccup" ng-change="onChangeOccup()">
				<option value="" selected>Occupation</option>
				<option value="Student">Student</option>
				<option value="Professional">Professional</option>
				<option value="Government Service">Government Service</option>
				<option value="Public Sector">Public Sector</option>
				<option value="Private Sector">Private Sector</option>
				<option value="Housewife">Housewife</option>
				<option value="Business">Business</option>
				<option value="Agriculturist">Agriculturist</option>
				<option value="Retired">Retired</option>
			</select>
		</div>

		<div class="accfrm_row" ng-show="data.fstHldrOccup == 'Professional' || data.fstHldrOccup == 'Government Service' || data.fstHldrOccup == 'Public Sector' || data.fstHldrOccup == 'Private Sector' || data.fstHldrOccup == 'Business'" >
			<div class="accfrm_row_c1">
				<input type="text" id="fstHldrOrg" name="fstHldrOrg" placeholder="Company Name" ng-model="data.fstHldrOrg">
			</div>
			<div class="accfrm_row_c2">
				<input type="text" id="fstHldrDesig" name="fstHldrDesig" placeholder="Designation" ng-model="data.fstHldrDesig">
			</div>
		</div>

		<div class="accfrm_row">
			<div class="accfrm_row_c1">
				Please select one of the following <br>
				<div class="chkbox fullwidth">
					<input type="radio" id="income_range" name="rd2" ng-model="incomeRangeEdit" value="income_range" />
					<label for="income_range">Income Range</label>
					<input type="radio" id="networth" name="rd2" ng-model="incomeRangeEdit" value="networth"/>
					<label for="networth">Networth</label>
				</div>
			</div>
			
			<div class="accfrm_row_c2" ng-show="incomeRangeEdit == 'income_range'">
				<br>
				<select name="fstHldrIncome" id="fstHldrIncome" ng-model="data.fstHldrIncome">
					<option value="">Select Income Range</option>
					<option value="Below Rs 1 Lac">Below Rs 1 Lac</option>
					<option value="1-5 Lac">Rs 1-5 Lac</option>
					<option value="5-10 Lac">Rs 5-10 Lac</option>
					<option value="10-25 Lac">Rs 10-25 Lac</option>
					<option value="25-50 Lac">Rs 25-50 Lac</option>
					<option value="50 Lac - 1 Crore">Rs 50 Lac - 1 Crore</option>
					<option value="1-5 Crore">Rs 1-5 Crore</option>
					<option value="5-10 Crore">Rs 5-10 Crore</option>
					<option value="> 10 Crore"> &gt; Rs 10 Crore</option>
				</select>
			</div>

			<div class="accfrm_row_c2" ng-show="incomeRangeEdit == 'networth'">
				<div class="col_in1">
					Networth
					<!--as-->
					on <br>
					<input type="text" id="fstHldrNet" name="fstHldrNet" class="calendar_icon cal_validity" placeholder="" ng-model="data.fstHldrNet">
				</div>
				<div class="col_in2">
					Amount <br>
					<div class="acc-amount">
						<i class="fa fa-inr"></i>
						<input type="text" id="fstHldrAmt" class ="numericOnly" name="fstHldrAmt" placeholder="" ng-model="data.fstHldrAmt" value="0" maxlength="12">
					</div>
				</div>
			</div>
			</div>


		<div class="accfrm_row">
			<div class="accfrm_row_c1">No. of years-investment / trading experience</div>
			<div class="accfrm_row_c2">
					<select name="experience" class="experience" id="experience" ng-model="data.experience">
					<option value="" selected>Years of Experience </option>
					<option ng-repeat ="exp in experienceList" value={{exp}}>{{exp}} Years </option>
				</select>
			</div>
		</div>

	
		<div class="accfrm_row">
			<div class="registration_ck">
				<input type="checkbox" name="pep" id="pep" value="Politically exposed person" ng-model="data.pep" ng-true-value="'true'" ng-false-value="'false'">
				<label for="pep"></label> Politically exposed person <br> <br>
				<input type="checkbox" name="rpep" id="rpep" value="Related to politically exposed person" ng-model="data.rpep" ng-true-value="'true'" ng-false-value="'false'">
				<label for="rpep"></label> Related to politically exposed person <br>
			</div>
		</div>

	</div>

	<div class="account_open_row text-center">
		<input type="submit" name="back" id="back" value="Back" class="back btnPrev" ng-click="goPrev();">
		&nbsp;
		<input type="submit" name="next" id="next" value="Next" class="btnNext" ng-click="goNext();">
	</div>


</div>
<!-- </div>
			</div>

		</div>

		Footer Section
		<footer class="inner_class">
			<div class="footer">
				<div class="social_icons">
					<a class="facebook" href="#"><i class="fa fa-facebook"></i></a><a
						class="twitter" href="#"><i class="fa fa-twitter"></i></a><a
						class="google_plus" href="#"><i class="fa fa-google-plus"></i></a>
				</div>
				<ul class="footer_links">
					<li><a href="#">About Us</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Legal Terms</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
				<h6 class="copyright">
					©
					<script type="text/javascript"> var now = new Date(); var d = now.getFullYear(); document.write(d); </script>
					MMF Investor Registration Pvt. Ltd.
				</h6>
			</div>
		</footer>
		End

	</div>

	calendar scripts start
	<link rel="stylesheet"
		href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
  $( function() {
    $( "#calendar" ).datepicker();
  } );
</script>
	calendar scripts end

</body>
</html-->
