<!-- <!DOCTYPE html>
[if IE 8]> <html class="ie8 oldie"> <![endif]
[if gt IE 8]><!
<html>
<![endif]
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Manage My Fortune</title>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/highcharts.js"></script>
<script src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
<link rel="stylesheet" href="css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="css/custom.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="shortcut icon" href="images/favicon.ico">
HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
WARNING: Respond.js doesn't work if you view the page via file://
[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]
</head>

<body>
	<div class="body_bg investor_brand">
		Header Section
		<header class="navbar-fixed-top">
			<div class="padding_lr">
				<div class="navbar-header">
					<div class="logo">
						<a href="">Manage My Fortune</a>
					</div>
				</div>
				<div class="settings">
					<span class="gear_icon"> <a href=""></a>
					</span>
					<button id="open_menu_nav" class="navbar-toggle" type="button">
						<span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<button id="close_menu_nav" class="navbar-toggle" type="button">
						<span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
				</div>
			</div>
			<section id="hamber_menu_section" class="hamber_menu_section">
				<div class="nav_menu">
					<ul>
						<li><a class="home" href="">Home</a></li>
						<li class="active"><a class="search" href="">search portfolio</a></li>
						<li><a class="my_port" href="">my portfolio</a></li>
						<li><a class="reports" href="">reports</a></li>
						<li><a class="ad_service" href="">advisory service contract</a></li>
						<li><a class="alerts" href="">alerts</a></li>
					</ul>
				</div>
			</section>
		</header>
		End

		<div class="container-fluid middle-section content_bg_shade">
			left column start 

			left column end

			<div id="content_column">
				<div class="content_column_in account_open">
					<div class="pgh account-h">Open a free Account</div>
					<br> -->
<div class="content_box">

	<div class="account_open_row">
		<h3>Finally Confirmation !</h3>
	</div>

	<div class="accfrmsec">

		<div class="accfrm_row">
			<h4>You have attached the following document Photos</h4>
		</div>

		<div class="accfrm_row">
			<div class="tick" ng-show="data.panFilePath!='' && data.panFilePath !=null && data.panFilePath != undefined">
				<span class="glyphicon glyphicon-ok"></span>Pan Card
			</div>
			<div class="tick" ng-show="data.corsFilePath!='' && data.corsFilePath !=null && data.corsFilePath != undefined">
				<span class="glyphicon glyphicon-ok"></span>Correspondence Address Proof
			</div>
			<div class="tick" ng-show="data.prmntFilePath!='' && data.prmntFilePath !=null && data.prmntFilePath != undefined">
				<span class="glyphicon glyphicon-ok"></span>Permanent Address Proof
			</div>
			<div class="tick" ng-show="data.bankFilePath!='' && data.bankFilePath !=null && data.bankFilePath != undefined">
				<span class="glyphicon glyphicon-ok"></span>Cancelled Cheque
			</div>
		</div>

		<div class="accfrm_row">
			<div class="bank-details pdf_generate">
				<div class="col1">
					<img src="images/pdf-generate.png" alt="">
				</div>
				<div class="col2">
					Your form currently looks like this <br> <a href="#" ng-click="getUserFormPdf();">View Generate PDF</a>
				</div>
			</div>
		</div>

		<div class="accfrm_row">
			To confirm these details, click on the Confirm Button. Dont worry, if any thing is missing our executives will get back to you <br>
			<div class="registration_ck">
				<input type="checkbox" name="cbSubscriberAgreement" id="cbSubscriberAgreement" value="I/We hereby Accept Manag My Fortune Subscriber Agreement" ng-model="cbSubscriberAgreement" ng-true-value="true" ng-false-value="false">
				<label for="cbSubscriberAgreement"></label> I/We hereby Accept Manage My Fortune <a id="anchorSubcriberAgreement">Subscriber Agreement </a> <br>
			</div>
		</div>

	</div>

	<div class="account_open_row text-center">
		<input type="submit" name="back" id="back" value="Back" class="back btnPrev">
		&nbsp;
		<input type="submit" name="confirm" id="confirm" value="Confirm" ng-click="confirm();">
	</div>
	<form id = "confirmUserPdf" action = "" method = "post"/>
</div>
<!-- </div>
			</div>

		</div>

		Footer Section
		<footer class="inner_class">
			<div class="footer">
				<div class="social_icons">
					<a class="facebook" href="#"><i class="fa fa-facebook"></i></a><a class="twitter" href="#"><i class="fa fa-twitter"></i></a><a class="google_plus" href="#"><i class="fa fa-google-plus"></i></a>
				</div>
				<ul class="footer_links">
					<li><a href="#">About Us</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Legal Terms</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
				<h6 class="copyright">
					©
					<script type="text/javascript"> var now = new Date(); var d = now.getFullYear(); document.write(d); </script>
					MMF Investor Registration Pvt. Ltd.
				</h6>
			</div>
		</footer>
		End

	</div>


</body>
</html>
 -->
 <script type="text/javascript">
 	$('#anchorSubcriberAgreement').click(function(event){
 		$(this).attr('target','_blank');
 		$(this).attr('href',openPageInNewTab('/faces/pages/subscriber_agreement.xhtml'));
 		
 	});
 	//href="javascript: return " target="_blank"
 	openPageInNewTab = function(myUrl) {
		return _gc_url_baseUrl + myUrl;
	}
 	
 </script>